.login-container {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 30vw;
  height: 25vw;
  background-color: rgb(255, 241, 236);
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1vw;
}

.login-form__item {
  margin-top: 2vw;
  transform: translate(0, -50%);
}

.login-form__item__title {
  font-size: 1.5vw;
}

.login-form__item__input {
  width: 17vw;
  border: 1px solid #FD8467;
  border-radius: 3px;
  background-color: rgba(253, 133, 103, 0.209);
}

.login-form__button {
  border-radius: .5rem;
  background-color: #FD8467;
  border-color: #FD8467;
  color:#FFF;
  padding: .6vw 1.85vw;
  font-size: 1.5vw;
}

























/* .app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #FD8467;
    border: 1px solid #FD8467;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: rgb(253, 105, 68);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  } */