
.questions-bar__title{
    text-align: center;
    font-size: 1.2vw;
    margin-top: 3vw;
}

.questions-bar__list {
   margin: 4vw;
}

.questions-bar__list__item {
    background-color: rgba(253, 133, 103, 0.1);
    padding: 2vw 3vw;
    margin-bottom: 1vw;
    border-radius: 10px;
    border: 0.5px solid #FD8467;
}

.questions-bar__list__item__title {
    font-size: 1.4vw;
}

.questions-bar__list__item__hr {
    border: .5px solid #FD8467;
}

.questions-bar__list__item__input {
    margin-top: 2vw;
    font-weight: 500;
    font-size: 1.3vw;
}

@media only screen and (max-width: 768px){
    .questions-bar__title {
        font-size: 12px;
    }
    .questions-bar__list__item__title {
        font-size: 11px;
    }
    .questions-bar__list__item {
        margin-bottom: 10px;
    }
    .questions-bar__list__item__input {
        font-size: 10px;
    }
}