.order {
    margin-top: 4.4vw;
    background-color: #FEBDAC;
    padding: 3.1vw 1.2vw;
    border-radius: 1.2vw;
}

.order__text {
    margin-left: 3vw;
}

.order__text__header {
    font-size: 2vw;
    color: rgba(0, 0, 0, 1);
}

.order__text__input {
    margin-top: 2.5vw;
    margin-bottom: 4vw;
    font-size: 1.7vw;
    color: rgba(0, 0, 0, 0.7);
}

.order__contact {
    display: flex;
    justify-content:space-around;
}

.order__contact__item {
    font-size: 1.3vw;
    background: rgba(255, 255, 255, 0.587);
    width: 25vw;
    text-align: center;
    border-radius: 1rem;
    margin-left: .6vw;
}

.order__contact__item__header {
    font-weight: 700;
}

.youtube {
    display: block;
    margin-top: 2.5vw;
    margin-left: 2.5vw;
    width: 80%;
    transform: translate(15%, 0%);
    margin-left: auto;
    margin-right: auto;
}

.youtube__link {
    height: 36vw;
}
