.login-column-right {
    margin-top: .4vw;
    margin-left: 1vw;
    background-color: #393838;
    flex: 25%;
    border-radius: 5px;
    /* overflow: hidden;
    position: fixed;
    right: 0;
    top: 0; */
    /* height: 100vh; */
}

.currency-logout-container{
    display: flex;
    justify-content: space-around;
}

.log-out-but{
    margin-top: 2vw;
    background-color: #918D8B;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 3.5vw;
    border-radius: 10px;
    color: #fff;
}

.currency-tab {
    

    /* margin-left: 2vw; */
    margin-top: 2vw;
    font-size: 1vw;
    border-radius: 10px;
    color: #FFF;
    /* padding: 2vw 2vw; */
    padding: 1vw 1vw;
    text-align: center;
    width: 12vw;
    background-color: rgb(102,195,173);
}

.login-column-right__container {
    display: flex;
    justify-content: center;
    margin-top: 9vw;


    margin-bottom: 6vw;
}

.login-column-right__card {
    background-color: rgba(145, 141, 139, 0.2);
    color: #fff;
    border-radius: 10px;
    width: 20vw;
    padding: 2vw 5vw;
    text-align: center;
    
}

.login-column-right__card__info {
    font-size: 1.2vw;   
}

.horizontal-line {
    border: 1px solid #FD8467;
}

.debt-text {
    font-size: 1vw;
}

.login-column-right__list {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    margin-left: 2.5vw;
    margin-bottom: 4vw;
}

.login-column-right__list__item {
    text-decoration: none;
    font-size: 1.8vw;
    cursor: pointer;
    margin-bottom: 2vw;
    /* color: rgba(255, 255, 255, 0.312); */
    color: #918D8B;
}

.login-column-right__list__item:hover {
    color: #FD8467;
    transform: scale(1.05);
}

.selectedItem {
    color: #FD8467;
    transform: scale(1.05);
}