.loggedInPage {
    display: flex;
}

.login-column-left {
    flex: 75%;
}

.sign-out-button {
    margin-top: 1vw;
    color: #FFF;
    background-color: #FD8467;
    border-color: #FD8467;
    border-radius: 5px;
    font-size: 1.7vw;
    width: 10vw;
    height: 4vw;
}

.address-countries-container {
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: rgb(255, 241, 236);
}

.address-box__text {
    font-size: 2vw;
}

.address-box__text__username {
    color: #FD8467;
}

.countries-box {
    margin-top: 3vw;
}

.countries-box__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.countries-box__list__item {
    font-size: 1.2vw;
    cursor: pointer;
    margin-right: 3vw;
    background-color: #fff;
    padding: 1vw 5vw;
    border-radius: 10px;
}

.countries-box__list__item:hover {
    background-color: #FD8467;
}

.user-address {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}

.user-address__list {
    margin-top: 0.6vw;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content:space-around;
    text-align: center;
    
}

.user-address__list__item {
    width: 45%;
    background: rgba(128, 128, 128, 0.1);
    padding: 1vw;
    border-radius: 1.25vw;
    margin-bottom: 1.25vw;
    text-decoration: none;
}

.user-address__list__item__title {
    font-size: 1vw;
}

.user-address__list__item__input {
    font-size: 1.5vw;
}

