.categories {
    margin-top: 4rem;
}

.categories__list {
    margin-top: 4.4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.categories__list__item {
    width: 30%;
    background:rgba(81, 81, 81, 0.05) 0% 0% no-repeat padding-box;
    padding: 1.25vw;
    border-radius: 1.25vw;
    margin-bottom: 1.25vw;
}

.categories__list__item:hover {
    cursor: pointer;
    background-color: #FD8467;
}


.shops-section {
    margin-top: 4.4vw;
}

.shops-section__title {
    font-size: 1.85vw;
    text-align: center;
}

.shops-section__list {
    margin-top: 0.6vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.shops-section__list__item {
    width: 30%;
    background: rgba(253, 133, 103, 0.2) 0% 0% no-repeat padding-box;
    padding: 1.85vw;
    border-radius: 1.25vw;
    margin-bottom: 1.25vw;
}

.shops-section__list__item__link:link,
.shops-section__list__item__link:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.25vw;
}