
.categories__list {
    margin-top: 4.4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.categories__list__item{
    width: 30%;
    background:rgba(81, 81, 81, 0.05) 0% 0% no-repeat padding-box;
    padding: 1.25vw;
    border-radius: 1.25vw;
    margin-bottom: 1.25vw;
    text-decoration: none;
}

.categories__list__item:hover {
    cursor: pointer;
    background-color: rgba(81, 81, 81, 0.3);
}


.shops-section {
    margin-top: 4.4vw;
}

.shops-section__title {
    font-size: 1.85vw;
    text-align: center;
}

.shops-section__list {
    margin-top: 0.6vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.shops-section__list__item {
    width: 30%;
    background: rgba(253, 133, 103, 0.2) 0% 0% no-repeat padding-box;
    padding: 1vw;
    border-radius: 1.25vw;
    margin-bottom: 1.25vw;
    text-decoration: none;
}

.shops-section__list__item:hover {
    background-color: #FD8467;
}

.shops-section__list__item__link{
    color: rgba(0, 0, 0, 0.6);
    font-size: 2vw;
}


@media only screen and (max-width: 768px){
    .categories__list__item{
        width: 100%;
        margin-bottom: 10px;
    }
    .shops-section__list__item__link{
        font-size: 14px;
    }
    .shops-section__title {
        font-size: 16px;
    }
    .shops-section__list__item {
        width: 47%;
    }
}