.parcels-page {
    display: flex;
}

.parcels-page__list {
    margin-top: 4.4vw;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color:rgba(128, 128, 128, 0.29);
    border-radius: 10px;
    padding: 1vw;
}