/* Add a black background color to the top navigation */
.topnav {
    /* background-color: rgba(51, 51, 51, 0.8); */
    background-color: rgba(253, 133, 103, 0.2);
    overflow: hidden;
    border-radius: 0.5rem;
  }

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    /* color: #f2f2f2; */
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 1vw 1.14vw;
    text-decoration: none;
    font-size: 1.2vw;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    /* background-color: rgba(128, 128, 128, 0.3); */

    background-color: rgba(253, 133, 103, 0.3);
    /* color: black; */
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #FD8467;
    color: white;
  }

  .topnav .login {
    float: right;
    margin-right: 1.4vw;
  }

