
.calculator__title {
    font-size: 1.6vw;
    color: #FD8467;
}

.calculator__item {
    font-size: .9vw;
}

.calculator__item__input {
    width: 25%;
    line-height: 200%;
    border-radius: .5rem;
    background-color: rgb(255, 241, 237);
}

.calculator__button {
    margin-top: .6vw;
    border-radius: .5rem;
    background-color: #FD8467;
    border-color: #FD8467;
    color:#FFF;
    padding: .6vw 1.85vw;
}

#weight-result {
    font-size: 1.2vw;
    font-weight: 700;
}