.calculator {
    height: 60vh;
}

.calculator__title {
    margin-top: 3vw;
    font-size: 2vw;
    color: #FD8467;
}

.calculator__item {
    font-size: 1.2vw;
}


.calculator__item__input {
    width: 25%;
    height: 3vw;
    line-height: 200%;
    border-radius: .5rem;
    background-color: rgb(255, 241, 237);
    border: 1px solid #FD8467;
}

.calculator__button {
    margin-top: 2vw;
    border-radius: .5rem;
    background-color: #FD8467;
    border-color: #FD8467;
    color:#FFF;
    padding: .6vw 1.85vw;
}

#weight-result {
    font-size: 1.2vw;
    font-weight: 700;
}