.footer {
    margin-top: 1.85vw;
}

.footer__box {
    background-color: rgb(255, 241, 236);
    border-radius: 0.6vw;
    padding: 3vw 3vw;
    margin-top: 1.85vw;
    margin-bottom: 1.85vw;
    border: .5px solid #FD8467;
}

.footer__box__item {
    font-size: 1.5vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.footer__box__item__link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.footer__box__item__link:hover {
    color: #FD8467;
}

.footer__rights {
    font-size: .9vw;
    background-color: transparent;
    float: right;
}

@media only screen and (max-width: 768px){
    .mob-footer {
        margin-bottom: 85px;
    }
    .footer__box__item{
        font-size: 8px;
    }
    .footer__rights {
        font-size: 8px;
    }
}