.box {
    height: 18.8vw;
    background-color: #FEBDAC;
    border-radius: 2rem;
}

.box-home {
    text-align: center;
    font-size: 2vw;
    padding: 5.6vw 3.1rem;
    margin-top: 2rem;
    position:relative;
    color:#fff
}

#shops-btn {
    background-color: #FD8467;
    text-decoration: none;
    border-radius: 5rem;
    position: absolute;
    padding: 1.2vw 1.8vw;
    transform: translate(-50%, -50%);
    margin-top: 3.8vw;
}

#shops-btn:link,
#shops-btn:visited {
    text-decoration: none;
    color: #fff;
}

.desciption-box {
    display: flex;
    position: absolute;
    margin-top: 6.2vw;
    font-size: 2vw;
    margin-left: 1.3rem;
}

.column{
    flex: 50%;
    padding: 0.6vw;
}

.desc-h {
    color:rgba(0, 0, 0, 0.7);
}

.desc-p {
    color:rgba(0, 0, 0, 0.7);
}

#get-more-btn {
    background-color: #FD8467;
    text-decoration: none;
    border-radius: 5rem;
    position: absolute;
    padding: 1.2vw 1.85vw;
    margin-top: 1.2vw;
}

#get-more-btn:link,
#get-more-btn:visited {
    color: white;
}

.platform-shop {
    margin-top: 4.4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.platform-shop__item {
    width: 48%;
    background: #FFF1EC 0% 0% no-repeat padding-box;
    padding: 1.85vw;
    border-radius: 1.2vw;
    margin-bottom: 1.2vw;
    cursor: pointer;
    text-align: center;
    font-size: 2vw;

    /* newly added */
    text-decoration: none;
}

.platform-shop__item:hover {
    background-color: #FD8467;
}

.platform-shop__item figure {
    height: 100%;
}

.platform-shop_link:link,
.platform-shop_link:visited {
    color:rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.flights {
    margin-top: 47vw;
    font-size: 2vw;
    margin-left: 1.2vw;
}

.flights_column {
    flex: 100%;
    padding: .6vw;
}


.flights_box {
    display: inline-block;
    width: 30vw;
    margin-right: .6vw;
    margin-top: 4.4vw;
    margin-left: .4vw;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.flights_box_item {
    width: 100%;
    background: rgba(81, 81, 81, 0.05) 0% 0% no-repeat padding-box;
    padding: 1.85vw;
    border-radius: .6vw;
    margin-bottom: 1.2vw;
    font-size: 2.5vw;
}

.map-box {
    display: flex;
    
}

.column-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
    padding: 0.6vw;
    transform: translate(0, -15%);
}

.contact-info {
    text-align: center;
    align-content:flex-end;
    font-size: 1.2vw;
    margin-top: 7.5vw;
}






  