
.box-home {
    background-color: #FEBDAC;
    border-radius: 10px;
    text-align: center;
    font-size: 2vw;
    padding: 4vw 3vw;
    margin-top: 1.5vw;
    color:#fff
}

.shops-btn {
    display: inline-block;
    background-color: #FD8467;
    border-radius: 5rem;
    padding: 1.2vw 1.8vw;
}

.shops-btn:link,
.shops-btn:visited {
    text-decoration: none;
    color: #fff;
}

.desciption-box {
    display: flex;
    margin-top: 1.5vw;
    font-size: 2vw;
    /* margin-left: 1.3rem; */
}

.column{
    margin-top: 1.5vw;
    flex: 50%;
    padding: .6vw;
}

.desc-h {
    color:rgba(0, 0, 0, 0.7);
}

.desc-p {
    line-height: 1.2;
    color:rgba(0, 0, 0, 0.7);


    /* newly added */
    /* font-size: 16px; */
}

#get-more-btn {
    display: inline-block;
    background-color: #FD8467;
    text-decoration: none;
    border-radius: 5rem;
    padding: 1.2vw 1.85vw;
}

#get-more-btn:link,
#get-more-btn:visited {
    color: white;
}

.platform-shop {
    margin-top: 4.4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.platform-shop__item {
    width: 48%;
    background: #FFF1EC 0% 0% no-repeat padding-box;
    border: .5px solid #FD8467;
    padding: 1.85vw;
    border-radius: 1.2vw;
    margin-bottom: 1.2vw;
    cursor: pointer;
    text-align: center;
    font-size: 2vw;
    text-decoration: none;
}

.platform-shop__item:hover {
    background-color: #FD8467;
}


.platform-shop__link{
    color:rgba(0, 0, 0, 0.7);
}

.flights {
    margin-top: 1vw;
    font-size: 2vw;
    margin-left: 1.2vw;
}

.flights_column {
    display: flex;
    justify-content: space-around;
}


.flights_box {
    width: 28vw;
    margin-right: .6vw;
    margin-top: 4.4vw;
    margin-left: .4vw;
    text-align: center;
}

.flights_box_item {
    width: 100%;
    background: rgba(81, 81, 81, 0.05) 0% 0% no-repeat padding-box;
    padding: 1.85vw;
    border-radius: .6vw;
    margin-bottom: 1.2vw;
    font-size: 2.1vw;
}

.map-box {
    display: flex;
}


.column-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
    padding: 0.6vw;
    transform: translate(0, -15%);
}

.contact-info {
    text-align: center;
    align-content:flex-end;
    font-size: 1.2vw;
    margin-top: 7.5vw;
}

@media (max-width: 768px){
    .desciption-box {
        display: block;
    }
    .column {
        width: 100%;
    }
    .desc-p {
        font-size: 16px;
        line-height: 1.5;
    }
    .desc-h {
        font-size: 16px;
    }
    .shops-btn {
        font-size: 16px;
        padding: 10px 20px;
    }
    .box-home {
        font-size: 16px;
    }
    #get-more-btn{
        font-size: 16px;
        padding: 10px 20px;
    }
    .platform-shop__link {
        font-size: 16px;
    }
    .flights_box_item__input {
        font-size: 14px;
    }
    .contact-info__item {
        font-size: 10px;
    }

}






  