.map {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.contact__text {
    margin-left: 1vw;
    font-size: 1.3vw;
    margin-bottom: 2vw;
}

.contact__text__header {
    font-weight: bold;
}