.map__contact {
    background-color: #fff;
    padding: 3vw 3vw 5vw 3vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
    font-size: 2vw;
    border-radius: 10px;
}

.map {
    display: flex;
    justify-content: center;
}

.contact__text {
    margin-left: 1vw;
    font-size: 1.3vw;
    margin-bottom: 2vw;
}

.contact__text__header {
    font-weight: bold;
}

.about-us-container {
    /* text-align: center; */
    margin-top: 5vw;
    background-color: rgba(253, 133, 103, 0.2);
    padding: 3vw;
}

.about-us-button-container {
    display: flex;
    justify-content: center;
}

.about-us-text {
    font-size: 2vw;
}

.about-us-button {
    text-decoration: none;
    background-color: #FD8467;
    padding: 1vw 2vw;
    color: #fff;
    border-radius: .5vw;
    font-size: 2.5vw;
}

@media only screen and (max-width: 768px) {
    .contact__text {
        font-size: 14px;
    }
    .contact__text__header {
        font-size: 15px;
    }
    .contact__text__input {
        font-size: 14px;
    }
    .about-us-text {
        font-size: 13px;
    }
    .about-us-button {
        font-size: 15px;
    }
    .map__contact {
        margin-top: 35px;
        margin-bottom: 40px;
    }
    .map__contact__title {
        font-size: 18px;
    }
   
}